**/ui_*.h
*.autosave
*.bak
*.filters
*.ilk
*.log
*.log
*.log
*.obj
*.opensdf
*.orig
*.pdb
*.pro.user
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.user
.qmake.stash
.qtc_clangd/
.vs/
/**/CMakeFiles/
/**/GamepadDemo_autogen/
/**/Makefile
/**/Makefile.Debug
/**/Makefile.Release
/**/_bin/**/*.*
/**/build-**/*
/**/debug/*
/**/release/*
Makefile
_bin/
_build/Ipponboard-linux/
_build/_build_cmake_qt4
_build/build_output/*
_build/linux-Debug/
_build/linux-ipponboard-Desktop*
_build/linux/
_output/
base/.buildnr
base/.date
base/.revision
base/Ipponboard.rc
base/Ipponboard_team.rc
base/pch.h.cpp
base/versioninfo.h
bin/
build-GamepadDemo-*/
doc/*.aux
doc/*.out
doc/*.pdf
doc/*.toc
env_cfg.bat
i18n/*.qm
ipch/
ipponboard.VC.*
lib/*
qrc_*.cpp
setup/Output/
ui*.h