[submodule "util/tinytoml"]
	path = util/tinytoml
	url = https://github.com/mayah/tinytoml.git
[submodule "doc/manual"]
	path = doc/manual
	url = https://fmuecke@bitbucket.org/ipponboard/ipponboard_doc.git
