*.bak
*.log
*.filters
*.orig
*.pdb
*.pro.user
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.user
*/ui_*.h
*build.log
SingleTournament/*.pdb
TeamTournament/IpponboardT.ini
base/.buildnr
base/.date
base/.revision
base/Ipponboard.rc
base/Ipponboard_team.rc
base/versioninfo.h
base/pch.h.cpp
base/qrc_ipponboard.cpp
doc/Anleitung.aux
doc/Anleitung.log
doc/Anleitung.out
doc/Anleitung.pdf
doc/Anleitung.toc
doc/manual.aux
doc/manual.log
doc/manual.out
doc/manual.pdf
**_env_cfg*
ipch/
lib/*
ui*.h
*.ilk
*.obj
*.autosave
*.opensdf
i18n/*.qm
.vs/
ipponboard.VC.*
Makefile
/**/Makefile.Debug
/**/Makefile.Release
/**/Makefile
/**/debug/*
/**/release/*
_output/
setup/Output/
GamepadDemo/ui_gamepaddemo.h
/_build/_build_cmake_qt4
/_build/bin/
/_build/_cmake_qt4/CMakeLists.txt.user
