*.bak
*.log
*.filters
*.orig
*.pdb
*.pro.user
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.user
*/ui_*.h
*build.log
GamepadDemo/ui_gamepaddemo.h
Makefile
SingleTournament/*.pdb
TeamTournament/IpponboardT.ini
_build/build_output/*
base/.buildnr
base/.date
base/.revision
base/Ipponboard.rc
base/Ipponboard_team.rc
base/versioninfo.h
base/pch.h.cpp
doc/Anleitung.aux
doc/Anleitung.log
doc/Anleitung.out
doc/Anleitung.pdf
doc/Anleitung.toc
doc/manual.aux
doc/manual.log
doc/manual.out
doc/manual.pdf
env_cfg.bat
/**/Makefile.Debug
/**/Makefile.Release
/**/Makefile
/**/debug/*
/**/release/*
ipch/
lib/*
ui*.h
*.ilk
*.obj
/**/bin/**/*.*
*.autosave
*.opensdf
i18n/*.qm
_output/
.vs/
ipponboard.VC.*
bin/
setup/Output/
.qtc_clangd/
