<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Ipponboard: Wettkampfliste</title>
<style>
</style>
</head>

<body style="font-family:Century Gothic,Arial;font-size:11pt;padding:0;margin:0">
<img src="templates\bjv-logo.png" alt="Bayerischer Judoverband e.V." align="right" width="66">
<div style="font-family: Century Gothic,Arial; font-size: 16pt; font-weight: bold;">
<center>Bayerische Ligen - Wettkampfliste</center>
</div>

<table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin-bottom:10px">
<tr><td width="8%"><b>Datum:</b></td>
	<td width="42%">%DATE%</td>
	<td width="8%"><b>Ort:</b></td>
	<td>%LOCATION%</td></tr>
<tr><td><b>Verein:</b></td>
	<td>%HOME%</td>
	<td><b>Verein:</b></td>
	<td>%GUEST%</td></tr>
</table>

<table border="1" width="100%" cellspacing="0" cellpadding="2">
<tr><th width="3%">Nr.</th><th width="5%">Gew.</th>
	<th width="25%">Vorname Nachname</th><th>I</th><th>W</th><th>Y</th><th>S</th><th>H</th><th>Sieg</th><th>UB</th>
	<th width="25%">Vorname Nachname</th><th>I</th><th>W</th><th>Y</th><th>S</th><th>H</th><th>Sieg</th><th>UB</th>
	<th width="8%">Zeit</th>
</tr>
%FIRST_ROUND%
<tr><th colspan="8">Zwischenstand nach 1. Runde:</th>
	<th>%WINS_HOME%</th>
	<th>%SCORE_HOME%</th>
	<th colspan="6">&nbsp;</td>
	<th>%WINS_GUEST%</th>
	<th>%SCORE_GUEST%</th>
	<td>&nbsp;</td>
</tr>
%SECOND_ROUND%
<tr>
	<th colspan="8"><strong>Endergebnis:</strong></th>
	<td><p align="center"><strong>%TOTAL_WINS_HOME%</strong></p></td>
	<td><p align="center"><strong>%TOTAL_SCORE_HOME%</strong></p></td>
	<th colspan="6">&nbsp;</td>
	<td><p align="center"><strong>%TOTAL_WINS_GUEST%</strong></p></td>
	<td><p align="center"><strong>%TOTAL_SCORE_GUEST%</strong></p></td>
	<td>&nbsp;</td>
</tr>
</table>

<hr height="1px" style="margin-top:4.5em;margin-bottom:0;padding-bottom:0"/>

<table width="100%" cellspacing="0">
<tr>
	<th width="25%">(Hauptkampfrichter)</th>
	<th width="25%">(Heimverein)</th>
	<th width="25%">(Gastverein)</th>
	<th width="25%">(Listenführer)</th></tr>
</table>

</body>

</html>