<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Ipponboard: Wettkampfliste Bundesliga</title>
<style>
@page {
    size: A4 landscape;
    margin: 0mm;
}
body {
    font-family: sans-serif;
    font-size: 8pt;
    padding: 5mm;
    margin: 0;
}
table { page-break-inside: avoid; }
h1 {font-size: 12pt; margin: 5px 0; }
</style>
</head>

<body>

<table border="0" width="100%" cellspacing="0" cellpadding="0" style="margin-bottom:5px">
<tr>
    <td width="85%"><div style="font-size:12pt; font-weight:bold; text-align:center;">%TITLE%</div></td>
    <td width="15%" align="right"><img src="templates/djb-logo.png" alt="Deutscher Judo Bund" align="right" height="66"></td>
</tr>
</table>

<table border="0" width="100%" cellspacing="0" cellpadding="1" style="margin-bottom:5px; font-size:8pt;">
<tr>
    <td width="8%"><b>Ausrichter:</b></td>
    <td colspan="3">%HOST%</td>
</tr>
<tr>
    <td width="8%"><b>Ort:</b></td>
    <td width="42%">%LOCATION%</td>
    <td width="8%"><b>Datum:</b></td>
    <td width="42%">%DATE%</td>
</tr>
</table>

<table border="1" width="100%" cellspacing="0" cellpadding="1" style="border-collapse: collapse; border-color: black; font-size:7pt">
<tr>
    <th bgcolor="#FFFF80" colspan="2">Vereine:</th>
    <th colspan="8">%HOME%</th>
    <th colspan="8">%GUEST%</th>
    <th bgcolor="#FFFF80" colspan="2">Zeitnahme</th>
</tr>
<tr style="background-color:#ffff99;">
    <th width="5%">Nr.</th>
    <th width="5%">Gew.</th>
    <th>Vorname Nachname</th>
    <th width="2%">I</th>
    <th width="2%">W</th>
    <th width="2%">Y</th>
    <th width="2%" style="color:red">S</th>
    <th width="2%" style="color:red">H</th>
    <th width="4%">Sieg</th>
    <th width="4%">UB</th>
    <th>Vorname Nachname</th>
    <th width="2%">I</th>
    <th width="2%">W</th>
    <th width="2%">Y</th>
    <th width="2%" style="color:red">S</th>
    <th width="2%" style="color:red">H</th>
    <th width="4%">Sieg</th>
    <th width="4%">UB</th>
    <th width="5%">Restz.</th>
    <th width="5%">Zeit</th>
</tr>
%FIRST_ROUND%
<tr><th bgcolor="#FFFF80" colspan="8">Zwischenstand nach 1. Runde:</th>
    <th >%WINS_HOME%</th>
    <th >%SCORE_HOME%</th>
    <th bgcolor="#FFFF80" colspan="6">&nbsp;</td>
    <th >%WINS_GUEST%</th>
    <th >%SCORE_GUEST%</th>
    <th bgcolor="#FFFF80" colspan="2">&nbsp;</td>
</tr>
%SECOND_ROUND%
<tr style="font-weight:bold">
    <th bgcolor="#FFFF80" colspan="8">Endergebnis:</th>
    <th>%TOTAL_WINS_HOME%</th>
    <th>%TOTAL_SCORE_HOME%</th>
    <th bgcolor="#FFFF80" colspan="6">&nbsp;</th>
    <th>%TOTAL_WINS_GUEST%</th>
    <th>%TOTAL_SCORE_GUEST%</th>
    <th bgcolor="#FFFF80" colspan="2">&nbsp;</th>
</tr>
<tr>
    <th bgcolor="#FFFF80" colspan="8">Sieger:</th>
    <th colspan="10"><strong>%WINNER%</strong></th>
    <th bgcolor="#FFFF80" colspan="2">&nbsp;</th>
</tr>
</table>

<br/><br/><br/><br/><br/>

<hr height="1px" style="margin:0; padding:0"/>

<table width="100%" cellspacing="0" style="font-size:7pt;">
<tr>
    <td width="25%" align="center">Wettkampfende (Uhrzeit)</td>
    <td width="25%" align="center">Wettkampfleitung</td>
    <td width="25%" align="center">Listenf&uuml;hrer</td>
    <td width="25%" align="center">Hauptkampfrichter</td>
</tr>
</table>

</body>
</html>