<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Ipponboard: Wettkampfliste Jugendliga</title>
</head>

<body style="font-family:sans-serif; font-size:9pt; padding:0; margin:0">
<!--<img src="templates/bjv-logo.png" alt="Bayerischer Judoverband e.V." align="right" width="100">-->
<div style="font-size:16pt; font-weight:bold;"><center>%TITLE%</center></div>
<br/>

<table border="0" width="100%">
<tr>
	<td width="8%"><b>Ausrichter:</b></td><td colspan="3">%HOST%</td>
</tr>
<tr>
	<td width="8%"><b>Ort:</b></td><td>%LOCATION%</td>
	<td width="8%"><b>Datum:</b></td><td width="42%">%DATE%</td>
</tr>
</table>
<br/>
<table border="1" width="100%" cellspacing="0" cellpadding="2" style="border-collapse: collapse; border-color: black">
<tr>
	<th bgcolor="#FFFF80" colspan="2"> Vereine:</th>
	<td colspan="8" align="center">%HOME%</td>
	<td colspan="8" align="center">%GUEST%</td>
	<th bgcolor="#FFFF80" colspan="2" align="center">Zeitnahme</th>
</tr>
<tr>
	<th bgcolor="#FFFF80" width="3%">Nr.</th>
	<th bgcolor="#FFFF80" width="8%">Gew.</th>
	<th bgcolor="#FFFF80" width="22%">Vorname Nachname</th>
	<th bgcolor="#FFFF80">I</th>
	<th bgcolor="#FFFF80">W</th>
	<th bgcolor="#FFFF80">Y</th>
	<th bgcolor="#FFFF80" style="color:red">S</th>
	<th bgcolor="#FFFF80" style="color:red">H</th>
	<th bgcolor="#FFFF80" width="5%">Sieg</th>
	<th bgcolor="#FFFF80" width="3%">UB</th>
	<th bgcolor="#FFFF80" width="22%">Vorname Nachname</th>
	<th bgcolor="#FFFF80">I</th>
	<th bgcolor="#FFFF80">W</th
	><th bgcolor="#FFFF80">Y</th>
	<th bgcolor="#FFFF80" style="color:red">S</th>
	<th bgcolor="#FFFF80" style="color:red">H</th>
	<th bgcolor="#FFFF80" width="5%">Sieg</th>
	<th bgcolor="#FFFF80" width="3%">UB</th>
	<th bgcolor="#FFFF80" width="8%">verbl.Zeit</th>
	<th bgcolor="#FFFF80" width="8%">Kampfz.</th>
</tr>
%FIRST_ROUND%
<!--<tr><th bgcolor="#FFFF80" colspan="8">Zwischenstand nach 1. Runde:</th>
	<th >%WINS_HOME%</th>
	<th >%SCORE_HOME%</th>
	<th bgcolor="#FFFF80" colspan="6">&nbsp;</td>
	<th >%WINS_GUEST%</th>
	<th >%SCORE_GUEST%</th>
	<th bgcolor="#FFFF80" colspan="2">&nbsp;</td>
</tr>-->
<!--% SECOND_ROUND %-->
<tr>
	<th bgcolor="#FFFF80" colspan="8"><strong>Endergebnis:</strong></th>
	<th><strong>%TOTAL_WINS_HOME%</strong></th>
	<th><strong>%TOTAL_SCORE_HOME%</strong></th>
	<th bgcolor="#FFFF80" colspan="6">&nbsp;</th>
	<th><strong>%TOTAL_WINS_GUEST%</strong></th>
	<th><strong>%TOTAL_SCORE_GUEST%</strong></th>
	<th bgcolor="#FFFF80" colspan="2">&nbsp;</th>
</tr>
<tr>
	<th bgcolor="#FFFF80" colspan="8">Sieger:</th>
	<th colspan="10"><strong>%WINNER%</strong></th>
	<th bgcolor="#FFFF80" colspan="2">&nbsp;</th>
</tr>
</table>

<br/>
<br/>
<br/>
<br/>
<br/>
<hr height="1px" style="margin:0;padding:0"/>
<table width="100%" cellspacing="0">
<tr>
	<td width="25%" align="center">Wettkampfende (Uhrzeit)</td>
	<td width="25%" align="center">Wettkampfleitung</td>
	<td width="25%" align="center">Listenf&uuml;hrer</td>
	<td width="25%" align="center">Hauptkampfrichter</td>
</tr>
</table>
</body>
</html>