; Default categories for Ipponboard

[DJB-M]
RoundTimeInSecs=240
GoldenScoreTimeInSecs=0
Weights="-60kg;-66kg;-73kg;-81kg;-90kg;-100kg;+100kg"

[DJB-M-U21]
RoundTimeInSecs=240
GoldenScoreTimeInSecs=0
Weights="-60kg;-66kg;-73kg;-81kg;-90kg;-100kg;+100kg"

[DJB-M-U18]
RoundTimeInSecs=240
GoldenScoreTimeInSecs=0
Weights="-46kg;-50kg;-55kg;-60kg;-66kg;-73kg;-81kg;-90kg;+90kg"

[DJB-M-U15]
RoundTimeInSecs=180
GoldenScoreTimeInSecs=180
Weights="-34kg;-37kg;-40kg;-43kg;-46kg;-50kg;-55kg;-60kg;-66kg;+66kg"

[DJB-M-U13]
RoundTimeInSecs=180
GoldenScoreTimeInSecs=0
Weights="-28kg;-31kg;-34kg;-37kg;-40kg;-43kg;-46kg;-50kg;-55kg;+55kg"

[DJB-F]
RoundTimeInSecs=240
GoldenScoreTimeInSecs=0
Weights="-48kg;-52kg;-57kg;-63kg;-70kg;-78kg;+78kg"

[DJB-F-U21]
RoundTimeInSecs=240
GoldenScoreTimeInSecs=0
Weights="-48kg;-52kg;-57kg;-63kg;-70kg;-78kg;+78kg"

[DJB-F-U18]
RoundTimeInSecs=240
GoldenScoreTimeInSecs=0
Weights="-40kg;-44kg;-48kg;-52kg;-57kg;-63kg;-70kg;-78kg;+78kg"

[DJB-F-U15]
RoundTimeInSecs=180
GoldenScoreTimeInSecs=180
Weights="-33kg;-36kg;-40kg;-44kg;-48kg;-52kg;-57kg;-63kg;+63kg"

[DJB-F-U13]
RoundTimeInSecs=180
GoldenScoreTimeInSecs=0
Weights="-27kg;-30kg;-33kg;-36kg;-40kg;-44kg;-48kg;-52kg;-57kg;+57kg"

[DJB-U11]
RoundTimeInSecs=120
Weights="Pools"