[1.%20JC%20Oberhaid]
Address=Oberhaid
LogoFile=clubs/jc_oberhaid.png

[Bushido%20Amberg]
Address=Amberg
LogoFile=clubs/bushido_amberg.png

[DJK%20Ingolstadt]
Address=Ingolstadt
LogoFile=clubs/djk_ingolstadt.png

[JC%20Ettlingen]
Address=Ettlingen
LogoFile=clubs/jc_ettlingen.png

[JC%20Leipzig]
Address=Leipzig
LogoFile=clubs/jc_leipzig.png

[JC%20R%FCsselsheim]
Address=Rüsselsheim
LogoFile=clubs/jc_ruesselsheim.png

[JC%20Wiesbaden]
Address=Wiesbaden
LogoFile=clubs/jc_wiesbaden.png

[JV%20Ippon%20Rodewisch]
Address=Rodewisch
LogoFile=clubs/jv_rodewisch.png

[KSV%20Esslingen]
Address=Esslingen
LogoFile=clubs/ksv_esslingen.png

[Kodokan%20M%FCnchen]
Address=München
LogoFile=clubs/kodokan_muenchen.png

[Post%20SV%20Bamberg%201928]
Address=Bamberg
LogoFile=clubs/post_sv_bamberg_1928.png

[SF%20Harteck%20M%FCnchen]
Address=München
LogoFile=clubs/sf_harteck.png

[TG%20Landshut]
Address=Landshut
LogoFile=clubs/default.png

[TSV%20Abensberg]
Address=Abensberg
LogoFile=clubs/tsv_abensberg.png

[TSV%20Gro%DFhadern]
Address="Heiglhofstrasse 25, 81377 München"
LogoFile=clubs/tsv_grosshadern.png

[TSV%20Lohr]
Address=Lohr am Main
LogoFile=clubs/lohr.png

[TSV%20Mainburg]
Address=Mainburg
LogoFile=clubs/tsv_mainburg.png

[TSV%20Peiting]
Address=Peiting
LogoFile=clubs/tsv_peiting.png

[TSV%20K%F6nigsbrunn]
Address="Fuggerstraße 38, 86343 Königsbrunn"
LogoFile=clubs/tsv_koenigsbrunn.png
