//
// FILE IS GENERATED - DO NOT CHANGE!!
//
101 ICON images/ipponboard.ico
/////////////////////////////////////////////////////////////////////////////
VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,2,0,0
PRODUCTVERSION 2,2,0,0
VALUE ProductVersion, 2.2.0
/////////////////////////////////////////////////////////////////////////////
